.title {
    text-transform: uppercase;
}

nav {
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    padding: 5vh 5vw 5vh 3vw;
    position: fixed;
    width: -webkit-fill-available;
    top: 0;
}
nav .search input {
    border: none;
}
nav .search .i {
    display: inline-block;
    background-color: beige;
    font-size: 16px;
    border-radius: 5px;
}

button {
    border-color: rgb(0 0 0 / 21%);
    background-color:#8488ff;
}
button:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.Create {
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.Create h1 {
    padding-top: 2vh;
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
}
.Create .form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Create .form input {
    border: none;
    margin: 1vh 0;
    width: 80%;
}
.Create #create {
    background-color:#007bff;
}
.Create #deleteAll {
    background-color: rgb(255, 100, 100);
}

#divPrice {
    min-width: 90%;
    max-width: 90%;
}
input:focus {
    background-color: #eee;
    outline: none;
    transform: scale(1.08);
}
#deleteAll {
    margin-top: 2vh;
}

.table {
    background-color: #eee;
    text-align: center;
}

.table thead {
    text-transform: uppercase;
}

#delete {
    background-color: rgb(255, 100, 100);
}

#update {
    background-color: #007bff;
}

/* Labtob and Ipad mode ( > 928px) */
@media (min-width : 928px) {
    .crud {
        width: 95%;
        margin: auto;
        height: 100vh;
    }
    .Create {
        font-size: 15px;
        width: 35vw;
        margin: 0 3vw;
        position: fixed;
        top: 25vh;
        left: 0;
    }    
    .Create h1 {
        font-size: 35px;
        padding: 15px 40px 0 40px;
    }
    .output {
        position: absolute;
        height: 70vh;
        width: 58vw;
        top: 25vh;
        right: 2vw;
        overflow: scroll;
    }
}

/* phone mode ( < 927px) */
@media (max-width : 927px) {
    .search {
        display: flex;
        flex-direction: column;
    }
    .Create {
        /* margin-top: 25vh; */
        margin: 30vh 0 5vh 0;
        position: static;
    }
    .output {
        overflow-x: scroll;
    }
}
@media (max-width : 400px) {
    .Create {
        margin: 40vh 0 5vh 0;
    }
}